OPENAI_API_KEY=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
MONGO_URI=mongodb+srv://scavengking:Krishna%40123@cluster0.vb7f4pc.mongodb.net/?tls=true